@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);


html, body {
  min-width: 768px;
}

.logo {
  background: none;
  margin-top: -0;
  padding: 0;
  float: left;

  img {
    max-width: 190px;
  }
}

.main-zone {
  background: transparent;
}

.full-width .navigation-front {
  background: #2b619d; /* Old browsers */
background: -moz-linear-gradient(left,  #2b619d 0%, #c3eefe 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2b619d), color-stop(100%,#c3eefe)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #2b619d 0%,#c3eefe 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #2b619d 0%,#c3eefe 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #2b619d 0%,#c3eefe 100%); /* IE10+ */
background: linear-gradient(to right,  #2b619d 0%,#c3eefe 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b619d', endColorstr='#c3eefe',GradientType=1 ); /* IE6-9 */

}

.home-slider{
  background: url('/landing/images/nyc.jpg');
  background-size: cover;
  position: relative;

  .slider-image {
    max-height: 600px;
    display: block;
    width: 100%;
  }

  .home-slider__text {
    background-size: cover;
    color: #FFF;
    padding: 150px 0;
    font-size: 62px;
    text-align: center;
    max-width: 1020px;
    margin: auto;
    font-family: 'Quicksand';
  }

  .home-slider__image {
    max-width: 260px;
    height: auto;
    float: left;
    margin-top: -40px;
    display: block;

    @include breakpoint(max-width 850px) {
      max-width: 200px;
    }
  }
  .home-slider__subtext {
    font-size: 24px;

  }
}

#navigation-box {
  margin-top: 5px;
}

ul#navigation {
  a.active {

    &:before {
      color: inherit;
    }
  }

  a {
    color: #FFF;
  }
}

.top-navigation {
  position: static;
}

.getstarted-btn {
  margin-top: 10px;
  padding: 16px 39px 16px 70px;
}

.legitimizer-container {
  margin: auto;
  margin-top: 40px;
}

.avalible-services h2 {
  margin-top: 20px;
}

#consultation-form {
  margin: 30px auto;
}