body {
	background: url(/img/peeko4.jpg);
	background-size: cover;
	color: #DDD;
	font-size: 12px;
	font-family: Quicksand, sans-serif;
}

#logo img{
	max-width: 250px;
	height: auto;
	margin: 60px auto 40px;
	display: block;
}

.peeko-main {
	position: absolute;
	height: 100%;
	width: 400px;
	font-size: 14px;
	padding: 20px;
	left: 120px;
	background: rgba(20, 36, 90, .8);
}

.features {
	font-size: 12px;
	margin-top: 30px;
}

.feature {
	border-bottom: 1px solid #2A3C79;
	padding-bottom: 15px;
	padding-top: 10px;
}
.features .feature__icon {
	color: #FFF;
	float: left;
	width: 20%;
	font-size: 24px;
	display: block;
	text-align: center;
	margin: auto;
	margin-left: -20px;
}

.features .feature__icon .glyphicon {
	vertical-align: middle;
}

.feature__info {
	float: left;
	width: 80%;
}
.feature__name {
	color: #6C94FF;
}

.peeko-points {
	color: #ff9c00;
}