/* line 4, ../scss/default.scss */
html, body {
  height: 100%;
}

/* line 7, ../scss/default.scss */
body {
  background: url(/img/peeko4-bg.jpg) #000 no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #DDD;
  font-size: 12px;
  font-family: Quicksand, sans-serif;
}

/* line 16, ../scss/default.scss */
#container {
  height: 100%;
}

/* line 20, ../scss/default.scss */
#logo img {
  max-width: 160px;
  height: auto;
  margin: 20px auto 20px;
  display: block;
}

/* line 27, ../scss/default.scss */
.peeko-story {
  padding: 20px;
  margin-top: 25px;
}

/* line 32, ../scss/default.scss */
.peeko-main {
  min-height: 100%;
  width: 640px;
  border: 1px solid #363E62;
  font-size: 14px;
  padding: 40px 0;
  margin: 0 auto 60px auto;
  background: rgba(219, 56, 56, 0.9);
}

/* line 42, ../scss/default.scss */
.peeko-signup {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #000;
  border-width: 1px 0;
  padding: 10px 20px 15px 20px;
}

/* line 48, ../scss/default.scss */
.peeko-special {
  color: #FFF;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

/* line 55, ../scss/default.scss */
.features {
  font-size: 12px;
  margin-top: 0;
}

/* line 60, ../scss/default.scss */
.feature {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding-bottom: 15px;
  padding-top: 10px;
  border-bottom: 1px dashed #000;
}
/* line 66, ../scss/default.scss */
.feature:hover {
  -moz-box-shadow: 0 8px 10px 0px #000;
  -webkit-box-shadow: 0 8px 10px 0px #000;
  box-shadow: 0 8px 10px 0px #000;
}
/* line 69, ../scss/default.scss */
.feature:last-child {
  border: none;
}

/* line 73, ../scss/default.scss */
.features .feature__icon {
  color: #FFF;
  float: left;
  width: 20%;
  font-size: 24px;
  display: block;
  text-align: center;
  margin: auto;
}

/* line 83, ../scss/default.scss */
.features .feature__icon .glyphicon {
  vertical-align: middle;
}

/* line 87, ../scss/default.scss */
.feature__info {
  float: left;
  padding-right: 20px;
  width: 80%;
  font-size: 14px;
}

/* line 93, ../scss/default.scss */
.feature__name {
  color: #FFC966;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}

/* line 101, ../scss/default.scss */
.peeko-points {
  color: #00FFFF;
}

/* line 105, ../scss/default.scss */
.peeko-signup__fields {
  position: relative;
  border: 2px solid #333;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  overflow: hidden;
}
/* line 112, ../scss/default.scss */
.peeko-signup__fields:focus {
  border-color: #139DFF;
}
/* line 116, ../scss/default.scss */
.peeko-signup__fields .btn--transparent {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0.4);
  border: none;
  color: #FFFFFF;
  padding: 10px;
  font-size: 11px;
  display: block;
  width: 100%;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-right: 80px;
}
/* line 130, ../scss/default.scss */
.peeko-signup__fields .btn--transparent:focus {
  outline: none;
}
/* line 135, ../scss/default.scss */
.peeko-signup__fields .submit--transparent {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #4456a2;
  border: none;
  padding: 0 10px;
  position: absolute;
  border-left: none;
  height: 100%;
  top: 0;
  right: 0;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
/* line 147, ../scss/default.scss */
.peeko-signup__fields .submit--transparent:focus {
  outline: none;
  background: #95c313;
}
